{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "ignore": [
        "node_modules"
    ],
    "sourceType": "unambiguous",
    "inputSourceMap": false,
    "sourceMaps": false
}
